<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582415906606-plvemebdhh1ke0imautrc6n5s482nid8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582415906606-plvemebdhh1ke0imautrc6n5s482nid8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>582415906606-55p9kd2gmq19ikrrp9kdk73gvqptv4v8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABeCMwkJ7pPEexsh4ttHrzkjv9MbpWZFs</string>
	<key>GCM_SENDER_ID</key>
	<string>582415906606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kimii.cliente</string>
	<key>PROJECT_ID</key>
	<string>kimii-d7954</string>
	<key>STORAGE_BUCKET</key>
	<string>kimii-d7954.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582415906606:ios:edddd6e4319fae3421ecbf</string>
	<key>DATABASE_URL</key>
	<string>https://kimii-d7954.firebaseio.com</string>
</dict>
</plist>